<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bank_corp</title>
    <script src="../../static/js/jquery.min.js"></script>
    <style>
         *{
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
         }
        .mainbody{
                position: relative;
                width: 997px;
                height: 100px;
                background-color: #f0f0f0;
                /*border: 1px solid red;*/
        }
        .mainbody p{
            position: absolute;
            left: 398px;
            top: 60px;
        }

    </style>


</head>
<body>
    <div class="mainbody">
        <p>对不起！没有符合条件的结果</p>
    </div>
</body>
</html>